body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color : #FABB00;
  background-color: whitesmoke;
}

.container-pos {
  height: 100vh;
  overflow: hidden;
}

.product-section {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #222831;
}

.cart-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #393E46;
}

.product-card {
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #393E46;
  height: 100%;
  background-color: #393E46;
  color: #FABB00;
}

.product-card .product-img img {
  height: 200px;
  object-fit: cover;
  flex: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* 1rem  : 16px */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px #FABB00;
  border-color: #FABB00;
}

.category-btn {
  margin: 5px;
  border-radius: 25px;
  padding: 8px 20px;
}

.search-box {
  border-radius: 25px;
  padding: 10px 10px;
  border: 2px solid #393E46;
}

.cart-header {
  background-color: #222831;
  color: #FABB00;
  box-shadow: 0 0 3px #e5e5e5;
  border: 1px solid whitesmoke ;
  padding: 20px;
  border-radius: 1rem;
}


.cart-items {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  color: #FABB00;
}


.cart-footer {
  background-color: #222831;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
}


.total-section {
  background-color: #393E46;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn-checkout {
  border: none;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}